{% block form_body %}
	{{ form_start(form) }}
		{# form_widget(form) #}

		{{ form_errors(form) }}
		{% if form.title is defined %}
			<div class="form-group {{ form.title.vars.errors.count() > 0 ? 'has-error' }}">
				<i class="fa fa-calendar"></i> {{ form_label(form.title) }}
				{{ form_widget(form.title) }}
				<small>{{ form_help(form.title) }}</small>
				<div class="form-error has-error">
			        {{ form_errors(form.title) }}
			    </div>
			</div>
		{% endif %}
		
		{{ form_row(form.description, {'label_attr': {'class': 'foo'}}) }}

		{{ form_row(form.tags) }}
			<a href="#" id="add_tag" class="btn btn-default">Add a category</a>

		{{ form_rest(form) }}


		<input type="submit" class="btn" value="Create" />
	{{ form_end(form) }}
{% endblock %}

{% block form_javascript %}
	<script type="text/javascript">
		$(document).ready(function() {
			// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
			var $container = $('div#ads_tags');

			if ($container.attr('data-prototype') == null) {
				$container = $('div#ads_edit_tags');
			}

			// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
			var index = $container.find(':input').length;

			// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
			$('#add_tag').click(function(e) {
				addTag($container);

				e.preventDefault(); // évite qu'un # apparaisse dans l'URL
				return false;
			});

			// On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
			if (index == 0) {
				addTag($container);
			} else {
				// S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
				$container.children('div').each(function() {
					addDeleteLink($(this));
				});
			}

			// La fonction qui ajoute un formulaire CategoryType
			function addTag($container) {
				// Dans le contenu de l'attribut « data-prototype », on remplace :
				// - le texte "__name__label__" qu'il contient par le label du champ
				// - le texte "__name__" qu'il contient par le numéro du champ
				var template = $container.attr('data-prototype')
					.replace(/__name__label__/g, 'Tag n°' + (index+1))
					.replace(/__name__/g,        index)
				;

				// On crée un objet jquery qui contient ce template
				var $prototype = $(template);

				// On ajoute au prototype un lien pour pouvoir supprimer la catégorie
				addDeleteLink($prototype);

				// On ajoute le prototype modifié à la fin de la balise <div>
				$container.append($prototype);

				// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
				index++;
			}

				// La fonction qui ajoute un lien de suppression d'une catégorie
			function addDeleteLink($prototype) {
				// Création du lien
				var $deleteLink = $('<a href="#" class="btn btn-danger">Delete</a>');

				// Ajout du lien
				$prototype.append($deleteLink);

					// Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
				$deleteLink.click(function(e) {
					$prototype.remove();

					e.preventDefault(); // évite qu'un # apparaisse dans l'URL
					return false;
				});
			}
		});
	</script>
{% endblock %}