{% extends "layout.html.twig" %}
{% use "kijiji/_form.html.twig" %}

{% block body %}
	<h2>
		{% if ad is defined %}
			Edit
		{% else %}
			Add
		{% endif %}
	</h2>
		
	{% block form_body %}
		{{ parent() }}
		<h1>Form end</h1>
	{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ block('form_javascript') }}
{% endblock %}