{% extends "layout.html.twig" %}

{% block body %}

<h1>Delete an ad</h1>

<p>Are you sure you want to delete the ad: {{ ad.title }}</p>

{{ form_start(form) }}


{{ form_rest(form) }}

<a href="{{ path('kijiji_view', {'id': ad.id}) }}" class="btn btn-default"><i class="glyficon glyficon-chevron-left"></i>Go back</a>
<input type="submit" class="btn" value="Delete" />

{{ form_end(form) }}
{% endblock %}