{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <h2>Ads list ({{ nbAds }})</h2>

    {% for ad in listAds %}
    	<h3>{{ ad.title }}</h3>
    	<p>
    		{{ ad.description }}
    	</p>
    {% else %}
    	<p>No ad found</p>
    {% endfor %}
{% endblock %}
