{% extends "layout.html.twig" %}

{% block body %}

	<img src="{{ asset(ad.image.filePath) }}" alt="{{ ad.image.alt }}" />
	<h3>
		{{ ad.title }}
	</h3>

	<p>
		{{ ad.description }}
	</p>

	<h4>
		Comment ({{ commentsCount }}):
	</h4>

	<p>
		<a href="{{ path('kijiji_index') }}" class="btn btn-default"><i class="glyficon glyficon-chevron-left"></i>Return</a>
		<a href="{{ path('kijiji_add', {'id': ad.id}) }}" class="btn btn-default"><i class="glyficon glyficon-edit"></i>Edit</a>
		<a href="{{ path('kijiji_delete', {'id': ad.id}) }}" class="btn btn-default"><i class="glyficon glyficon-trash"></i>Delete</a>
	</p>
{% endblock %}