<!DOCTYPE html>
<html>
	<head>
		<title>First page !</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Hello World !</h1>
		<p>
			This is my hello world !
			Here's my custom var: {{ custom_var }}
		</p>
	</body>
</html>