<!DOCTYPE HTML>
<html>

<head>
	{% block stylesheets %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style type="text/css">
		.red_text {
			color: red;
		}

		.green_text {
			color: green;
		}
	</style>
	{% endblock %}

	<meta charset="utf-8">
	<title>{% block title %}Ads{% endblock %}</title>
</head>

<body>
	<div class="container">
		<header>
			<!--SEARCH-->
			{% block nav %}
			<nav>
				<ul class="nav">
					<li><a href="{{ path('kijiji_index') }}">Home</a></li>
					<li><a href="{{ path('kijiji_add') }}">Post</a></li>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li><a href="{{ path('app_logout') }}">Logout from {{ app.user.email }}</a></li>
					{% else %}
					<li><a href="{{ path('app_login') }}">Login</a></li>
					{% endif %}
				</ul>
			</nav>
			{% endblock %}
		</header>

		<section>
			{% for message in app.flashes('error') %}
			<p class="red_text">{{ message }}</p>
			{% endfor %}
			{% for message in app.flashes('info') %}
			<p class="green_text">{{ message }}</p>
			{% endfor %}

			{% block body %}<h1>Empty layout</h1>{% endblock %}
		</section>

		<footer>
			<div class="menu">
				{{ render(path('kijiji_menu', {'limit': 3})) }}
			</div>
			<div class="copyright">Marcel Vigneault © copyright {{ 'now'|date('Y') }}</div>
		</footer>

		{% block javascripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</div>
</body>

</html>